@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    background-color: #2E3952;
}
.title{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}